<script>
    var acceptInvitation = function(event, id) {
        event.preventDefault();
        $.ajax({
            type:'PATCH',
            url:'http://localhost:8000/api/match/' + id,
            headers: {
                'Authorization': 'Bearer ' + $.cookie("token"),
            },
            processData: false,
            contentType: false,
            success: function(response){
                notifySuccess = '<div id="alertSuccess" class="alert alert-info alert-dismissible" role="alert">'
                +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
                +'<span aria-hidden="true">&times;</span>'
                +'</button>'
                +'<strong>' + response.message +'</strong>'
                +'</div>'
                $('.notify').append(notifySuccess)
                $('#alertSuccess').delay(1500).slideUp(200, function() {
                    $(this).alert('close');
                    location.reload();
                });
                $('#status' + id).html("ACCEPTED")
            },
            error: function(e) {
                resp = e.responseJSON
                notifyError = '<div id="alertError" class="alert alert-danger alert-dismissible" role="alert">'
                +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
                +'<span aria-hidden="true">&times;</span>'
                +'</button>'
                +'<strong>' + resp.status[0] +'</strong>'
                +'</div>'
                $('.notify').append(notifyError)
                $('.alert').delay(4000).slideUp(200, function() {
                    $(this).alert('close');
                });
            }
        })
    };
    var rejectInvitation = function(event, id) {
        event.preventDefault();
        $.ajax({
            type:'DELETE',
            url:'http://localhost:8000/api/match/' + id,
            headers: {
                'Authorization': 'Bearer ' + $.cookie("token"),
            },
            processData: false,
            contentType: false,
            success: function(response){
                notifySuccess = '<div id="alertSuccess" class="alert alert-warning alert-dismissible" role="alert">'
                +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
                +'<span aria-hidden="true">&times;</span>'
                +'</button>'
                +'<strong>' + response.message +'</strong>'
                +'</div>'
                $('.notify').append(notifySuccess)
                $('#alertSuccess').delay(1000).slideUp(200, function() {
                    $(this).alert('close');
                    location.reload();
                });
                $('#status' + id).html("REJECTED")
            },
            error: function(e) {
                resp = e.responseJSON
                notifyError = '<div id="alertError" class="alert alert-danger alert-dismissible" role="alert">'
                +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
                +'<span aria-hidden="true">&times;</span>'
                +'</button>'
                +'<strong>' + resp.status[0] +'</strong>'
                +'</div>'
                $('.notify').append(notifyError)
                $('.alert').delay(4000).slideUp(200, function() {
                    $(this).alert('close');
                });
            }
        })
    };
</script>
