{% extends 'base.html' %}
{% load static %}
{% block title %} My Teams {% endblock %}
{% block style %}
{% include './stadium_list_css.html' %}
{% endblock %}
{% block pagecontent %}

<div class="notify"></div>
<!-- Team -->
<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">DANH SÁCH SÂN VẬN ĐỘNG</h5>
    <!-- Box body-->
    <div class="table-responsive mailbox-messages">
        {% if messages %}
        <ul id="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
      <form class="example" action="{% url 'list' %}" method="POST">
        {% csrf_token %}
        <div class="input-group date" id="datetimepicker1">
          <label for="time_from">Thời gian bắt đầu:</label>
          <input type="datetime" class="form-control" name="time_from"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <div class="input-group date" id="datetimepicker2">
          <label for="time_from">Thời gian kết thúc:</label>
          <input type="text" class="form-control" name="time_to"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <div class="input-group date" id="datetimepicker2"></div>
          <label>Chọn mức giá tiền:</label>
          <input type="range" name="price" min="0" max="200">
        </div>
        <label for="result_limit">Số lượng kết quả trên mỗi trang</label>
        <select name="result_limit">
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <!-- <input type="text" placeholder="Chọn giá tiền.." name="price" /> -->
        <input id="submit-form-list" type="submit" value="Tìm"/>
      </form>
      <table class="table table-hover table-striped">
        <tbody>
          <tr>
            <th>STT</th>
            <th>Tên sân vận động</th>
            <th>Vị trí</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th>Số tài khoản</th>
            <th>Giá</th>
          </tr>
          {% for objstadium in stadiums.stadium %}
          <tr>
            <td class="mailbox-name">{{ objstadium.id }}</td>
            <td class="mailbox-subject">
              <b>{{ objstadium.name }}</b>
            </td>
            <td class="mailbox-date">vị trí</td>
            <td class="mailbox-date">{{ objstadium.phone_number }}</td>
            <td class="mailbox-date">{{ objstadium.email }}</td>
            <td class="mailbox-date">{{ objstadium.bank_num }}</td>
            <td class="mailbox-date">{{ objstadium.price }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- /.table -->
      <ul class="pagination">
        {% if stadiums.page > 1 %}
          <li><a href="?page={{ stadiums.page|add:"-1" }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        <li class="active"><span>{{ stadiums.page }} <span class="sr-only">(current)</span></span></li>
        {% if stadiums.next_page_flg %}
          <li><a href="?page={{ stadiums.page|add:"1" }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    </div>
    <!-- /.mail-box-messages -->
  </div>
</section>
<!-- Team -->
{% endblock %}
  
