<!-- dp-world-tour/myapp/templates/base.html -->

{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      WorldTour - {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/color.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/dl-menu.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/prettyphoto.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css" />
    {% block style %}{% endblock %}
  </head>
  <body>
        <div class="ec-main-wrapper">
            <div class="ec-loading-section"><div class="ball-scale-multiple"><div></div><div></div><div></div></div></div>
            <!--// Main Header \\-->
            <header id="ec-header">
                    <!--// TopSection \\-->
                    <div class="ec-top-strip" *ngIf="jwt">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="ec-strip-info">
                                        <li><i class="fa fa-phone"></i> +84 12345678</li>
                                        <li><i class="fa fa-map-marker"></i> Worldtour-Football media</li>
                                        <li><i class="fa fa-envelope-o"></i> <a href="#">worldtour@gmail.com</a></li>
                                    </ul>
                                    <div class="ec-login-section">
                                        <a href="#" class="ec-login-section-btn ec-bgcolor"><i class="fa fa-user"></i> Đăng Xuất</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--// TopSection \\-->
                    <!--// Main Header \\-->
                    <div class="ec-main-navsection" style="z-index:9999999999999;">
                        <div class="container">
                            <a routerLink="/home" class="ec-logo"><img src="../../static/images/logo-1.png" alt=""></a>
                            <div class="ec-right-section">
                                <nav class="ec-navigation" *ngIf="jwt">
                                    <ul>
                                        <li><a href="/home">Trang Chủ</a></li>
                                        <li [ngClass]="{'active': router.url=='/team'}"><a routerLink="/team">Đội Bóng</a>
                                            <ul class="as-dropdown">
                                                <li><a routerLink="/team">Đội bóng của tôi</a></li>
                                                <!-- <li><a routerLink="/findteam">Tìm đội bóng</a></li> -->
                                            </ul>
                                        </li>
                                        <li [ngClass]="{'active': router.url=='/messenger'}"><a routerLink="/messenger">Tin Nhắn</a></li>
                                        <li [ngClass]="{'active': router.url=='/stadium'}"><a href="#">Sân Vận Động</a>
                                            <ul class="as-dropdown">
                                                <li><a href="shop-cart.html">Cart</a></li>
                                                <li><a href="shop-list.html">List Wout/sidebar</a></li>
                                                <li><a href="shop-list-wsidebar.html">List W/sidebar</a></li>
                                                <li><a href="shop-list-w-b-sidebar.html">List Wboth/sidebar</a></li>
                                                <li><a href="shop-detail.html">shop detail</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                                <!--// Responsive Menu //-->
                                <div id="as-menu" class="as-menuwrapper">
                                    <button class="as-trigger">Danh Mục</button>
                                    <ul class="as-menu">
                                        <li [ngClass]="{'active': router.url=='/home'}"><a routerLink="/home">Trang Chủ</a></li>
                                        <li [ngClass]="{'active': router.url=='/match'}"><a routerLink="/match">Tìm Trận Đấu</a></li>
                                        <li [ngClass]="{'active': router.url=='/team'}"><a routerLink="/team">Đội Bóng</a></li>
                                        <li><a href="#">Sân Vận Động</a>
                                            <ul class="as-submenu">
                                                <li><a href="shop-list.html">Shop List</a></li>
                                                <li><a href="plyer-list-left-sbar.html">Shop List W/left/sidebar</a></li>
                                                <li><a href="shop-list-wsidebar.html">Shop List W/right/sidebar</a></li>
                                                <li><a href="shop-list-w-b-sidebar">Shop List W/both/sidebar</a></li>
                                                <li><a href="plyer-list-nosidebar.html">Shop List Wout/sidebar</a></li>
                                                <li><a href="shop-detail.html">shop detail</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!--// Responsive Menu //-->
                                
                            </div>
                        </div>
                    </div>
                    <!--// Main Header \\-->
            </header>
            <!--// Main Header \\-->
            {% block pagecontent %}
            {% endblock %} 
            <footer id="ec-footer" *ngIf="jwt">
                <!--// Footer Widget \\-->
                <div class="ec-footer-widget">
                    <div class="container">
                        <div class="row">
                            <aside class="widget col-md-4 ec-recentnews_widget">
                                <div class="ec-section-heading">
                                    <h2>Tin Mới</h2></div>
                                <ul>
                                    <li>
                                        <figure>
                                            <a href="#"><img src="{% static 'extra-images/recent-widget-1.jpg' %}" alt=""></a>
                                        </figure>
                                        <section>
                                            <h6><a href="#">United, Palace Aim To Rebound From Setbacks</a></h6>
                                            <span><i class="fa fa-clock-o"></i> 2 days ago</span>
                                        </section>
                                    </li>
                                    <li>
                                        <figure>
                                                <a href="#"><img src="{% static 'extra-images/recent-widget-2.jpg' %}" alt=""></a>
                                        </figure>
                                        <section>
                                            <h6><a href="#">The summer of 2014 all about.</a></h6>
                                            <span><i class="fa fa-clock-o"></i> 2 days ago</span>
                                        </section>
                                    </li>
                                    <li>
                                        <figure>
                                                <a href="#"><img src="{% static 'extra-images/recent-widget-3.jpg' %}" alt=""></a>
                                        </figure>
                                        <section>
                                            <h6><a href="#">Sevilla finished fifth and just out of the.</a></h6>
                                            <span><i class="fa fa-clock-o"></i> 2 days ago</span>
                                        </section>
                                    </li>
                                </ul>
                            </aside>
                            <aside class="widget col-md-4 widget_categories">
                                <div class="ec-section-heading">
                                    <h2>CATEGORY</h2></div>
                                <ul>
                                    <li><a href="#">Boxing</a> 03</li>
                                    <li><a href="#">Championship</a> 05</li>
                                    <li><a href="#">Cycling</a> 03</li>
                                    <li><a href="#">Football</a> 19</li>
                                    <li><a href="#">NFL</a> 02</li>
                                    <li><a href="#">Golf</a> 11</li>
                                    <li><a href="#">Premier League</a> 12</li>
                                </ul>
                            </aside>
                            <aside class="widget col-md-4 widget_text_info">
                                <div class="ec-section-heading">
                                    <h2>Contact</h2></div>
                                <ul>
                                    <li>
                                        <i class="fa fa-map-marker"></i>
                                        <span>177  Desoto Health Care 7805 Southcrest Parkway  Southaven, MS (Mississippi) 38671</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <span>(907) 904-6163  (660) 567-1244</span>
                                    </li>
                                </ul>
                                <div class="ec-newslatter">
                                    <h6>Join the Newsletter</h6>
                                    <span>Sign up for our personalized daily newsletter</span>
                                    <form>
                                        <input type="text" value="Enter email address" onblur="if(this.value == '') { this.value ='Enter email address'; }" onfocus="if(this.value =='Enter email address') { this.value = ''; }">
                                        <input type="submit" value="Sign up" class="ec-bgcolor">
                                    </form>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
                <!--// Footer Widget \\-->
                <!--// CopyRight Section \\-->
                <div class="ec-bottom-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <a href="#" class="ec-footer-logo"><img src="{% static 'images/footer-logo.png' %}" alt=""></a>
                                <div class="ec-copyright">
                                    <p>© Copyright 2018 eyecix all rights reserved</p>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="ec-right-section">
                                    <a href="index.html" class="backtop-btn">Back to top <i class="fa fa-caret-up"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// pyRight Section \\-->
            </footer>     
        </div>            

    <script src="{% static 'scripts/jquery.js' %}"></script> <!-- This is how to include a static file -->
    <script src="{% static 'scripts/modernizr.js' %}"></script> <!-- This is how to include a static file -->
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script> <!-- This is how to include a static file -->
    <script src="{% static 'scripts/jquery.dlmenu.js' %}"></script> <!-- This is how to include a static file -->
    <script src="{% static 'scripts/flexslider-min.js' %}"></script> <!-- This is how to include a static file -->
    <script src="{% static 'scripts/jquery.prettyphoto.js' %}"></script> <!-- This is how to include a static file -->
    <script src="{% static 'scripts/waypoints-min.js' %}"></script> <!-- This is how to include a static file -->
    <script src="{% static 'scripts/owl.carousel.min.js' %}"></script> <!-- This is how to include a static file -->
    <script src="{% static 'scripts/jquery.countdown.min.js' %}"></script> <!-- This is how to include a static file -->
    <script src="{% static 'scripts/fitvideo.js' %}"></script> <!-- This is how to include a static file -->
    <script src="{% static 'scripts/newsticker.js' %}"></script> <!-- This is how to include a static file -->
    <script src="{% static 'scripts/skills.js' %}"></script> <!-- This is how to include a static file -->
    <script src="{% static 'scripts/functions.js' %}"></script> <!-- This is how to include a static file -->
    <script src="{% static 'scripts/loading.js' %}"></script> <!-- This is how to include a static file -->
    <script src="{% static 'scripts/jquery.cookie.js' %}"></script> <!-- This is how to include a static file -->
    <script>
        var options = {
            newsList: "#ec-news",
            startDelay: 10,
            placeHolder1: ""
        }
        jQuery().newsTicker(options);
        $.ajaxSetup({
            headers:
            { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') }
        });
    </script>
    {% block js %}{% endblock %}
  </body>
</html>
