{% extends 'base_login.html' %}

{% block title %}
    Login
{% endblock %}

{% block style %}
    {% include './login_css.html' %}
{% endblock %}

{% block pagecontent %}
<div class="notify"></div>
<section class="login-block">
    <div class="container">
      <div class="row">
        <div class="col-md-4 login-sec">
            <h2 class="text-center">ĐĂNG NHẬP</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                <li id='asd'></li>
            </ul>
            {% endif %}
            <form role="form" class="login-form" action="{% url 'login' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="username" class="text-uppercase">Tài khoản</label>
                <input type="text" #username class="form-control" id="username" placeholder="Tài khoản" name="username">
                
              </div>
              <div class="form-group">
                <label for="password" class="text-uppercase">Mật khẩu</label>
                <input type="password" #password class="form-control" id="password" placeholder="Mật khẩu" name="password">
              </div>
              <div class="form-check">
                <button type="submit" class="btn btn-login float-right">Submit</button>
              </div>
            </form>
            <div class="copy-text">Chưa có tài khoản? Click vào <a href="{% url 'register' %}">đây</a> để đăng ký</div>
            </div>
        <div class="col-md-8 banner-sec">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">              
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="d-block img-fluid" src="../../static/extra-images/backgroundlogin.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="banner-text">
                <h2>Worldtour.vn</h2>
                <p>Climb to the top of the world!</p>
              </div>	
            </div>
          </div>
        </div>	   
          </div>
      </div>
  </div>
 </div>
</section>
{% endblock %}
