{% extends 'base.html' %}

{% block title %}
    Create Team
{% endblock %}

{% block style %}
    {% include './create_team_css.html' %}
{% endblock %}

{% block pagecontent %}
<div class="notify"></div>
<form action="" style="border:1px solid #ccc" *ngIf="!checkLead; else elseBlock;" (submit)="register($event, teamname.value, teamacronym.value, email.value)">
    <div class="container">
        <h1>Tạo đội bóng</h1>
        <p>Nhập thông tin để bắt đầu tạo đội bóng</p>
        <hr>

        <label for="email"><b>Tên đội bóng</b></label>
        <input type="text" #teamname id="teamname" placeholder="Nhập tên đội bóng" required>
        <label for="email"><b>Tên viết tắt</b></label>
        <input type="text" #teamacronym id="teamacronym" placeholder="Nhập tên viết tắt" required>
        <label for="email"><b>Email của Team</b></label>
        <input type="text" #email id="email" placeholder="Nhập email" required>
        
        <p>Bằng việc đăng ký tạo đội bóng đồng nghĩa bạn đã đồng ý <a href="#" style="color:dodgerblue">Quy định và điều khoản</a> của chúng tôi.</p>

        <div class="clearfix">
        <button type="button" class="cancelbtn" routerLink="['/home']">Huỷ bỏ</button>
        <button type="submit" class="signupbtn">Đăng ký</button>
        </div>
    </div>
</form>
{% endblock %}
