{% extends 'base.html' %}

{% block title %}
    Invite Member
{% endblock %}

{% block style %}
    {% include './invite_member_css.html' %}
{% endblock %}

{% block pagecontent %}
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-12">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                <li id='asd'></li>
            </ul>
            {% endif %}
            {% if users %}
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                <th><span>Cầu thủ</span></th>
                                <th><span>Ngày nhập môn</span></th>
                                <th><span>Email</span></th>
                                <th class="text-center"><span></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users.result %}
                                <tr *ngFor="let user of users">
                                    <td>
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                        <a href="#" class="user-link">{{ user.username }}</a>
                                    </td>
                                    <td>{{ user.date_joined_format }}</td>
                                    <td>
                                        <a href="#">{{ user.email }}</a>
                                    </td>
                                    <td class="text-center">
                                        <form role="form" class="form" action="" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" #username class="form-control" id="user_id" name="user_id" value="{{ user.id }}">
                                            <button type="submit" class="btn btn-xs btn-success">Mời</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <ul class="pagination">
                            {% if users.links.has_previous %}
                                <li><a href="?page={{ users.page|add:"-1" }}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            <li class="active"><span>{{ users.page }} <span class="sr-only">(current)</span></span></li>
                            {% if users.links.has_next %}
                                <li><a href="?page={{ users.page|add:"1" }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
