{% extends 'base.html' %}

{% block title %}
    My Teams
{% endblock %}

{% block style %}
    {% include './team_list_css.html' %}
{% endblock %}

{% block pagecontent %}
<div class="notify"></div>
<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">THƯ MỜI</h5>
        <!-- Box body-->
        <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
                <tbody>
                    <tr>
                        <th>STT</th>
                        <th>Logo</th>
                        <th>Tên Đội</th>
                        <th>Thời Gian</th>
                        <th>Trạng Thái</th>
                        <th></th>
                    </tr>
                    {% for invitation in invitations %}
                    {% if invitation.status == "PENDING" %}
                    <tr>
                        <td class="mailbox-name">{{ forloop.counter }}</td>
                        <td><img class="img-fluid" width="40" height="40" src="{{ invitation.team.profile_url }}"></td>
                        <td class="mailbox-subject"><b>{{ invitation.team.team_name }}</b></td>
                        <td class="mailbox-date">{{ invitation.created_at }}</td>
                        <td class="mailbox-subject">{{ invitation.status }}</td>
                        <td class="mailbox-attachment">
                            <button type="button" class="btn btn-info btn-circle btn-xs fa fa-check-circle"></button>
                            <button type="button" class="btn btn-danger btn-circle btn-xs fa fa-times-circle"></button>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table><!-- /.table -->
            <!-- <ul class="pagination">
                <li class="disabled" aria-disabled="true">
                    <a >«</a>
                </li>
                <li class="active"><a>1<span class="sr-only">(current)</span></a></li>
                <li class="disabled" aria-disabled="true">
                    <a>»</a>
                </li>
            </ul> -->
        </div><!-- /.mail-box-messages -->
        <h5 class="section-title h1">ĐỘI BÓNG CỦA TÔI</h5>
        <div class="row">
            <!-- Team member -->
            {% for team in teams %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{{ team.profile_url }}" alt="card image"></p>
                                    <h4 class="card-title">{{ team.team_name }}</h4>
                                    <p class="card-text">Worldtour - Climb to top of the world!</p>
                                    {% if team.is_caption %}
                                        <a href="#" class="btn btn-primary btn-sm">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">
                                        {% if team.is_caption %}
                                            Đội Trưởng
                                        {% else %}
                                            Thành Viên
                                        {% endif %}
                                    </h4>
                                    {% if team.is_caption %}
                                        <a href="#"><i class="btn btn-primary">Mời thành viên</i></a>
                                    {% endif %}
                                    <p class="card-text">Câu lạc bộ bóng đá {{team.team_name}} (viết tắt: {{team.acronym}}) là một câu lạc bộ bóng đá chuyên nghiệp có trụ sở tại Old Trafford, Greater Machester, Anh. Câu lạc bộ đang chơi tại Giải bóng đá Ngoại hạng Anh. Với biệt danh "Quỷ Đỏ", vào năm 1878 đổi tên thành Manchester United vào năm 1902 và chuyển đến sân vận động hiện tại là sân Old Trafford vào năm 1910.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center">
                                                Xem thông tin
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            {% endfor %}
        </div>
    </div>
</section>
<!-- Team -->
{% endblock %}
